*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: red;
}
.saha{
    width: 100%;
    height: 100vh;
    position: relative;
}

.basket{
   width: 100%;
   height: 100vh;
   
}

.basket img{
    width: 100%;
   height: 100vh;
}

.top{
  

}

.top img{
    width: 50px;
    position: absolute;
    top: 750px;
    left: 300px;
    animation-name: top; 
   animation-duration: 20s;
}

@keyframes top{
    0%{left: 300px; top: 750px;}
    10%{left: 500px; top: 100px;}
    20%{left: 700px; top: 750px;}
    30%{left: 900px; top: 100px;}
    40%{left: 1000px; top: 750px;}
    50%{left:1200px; top: 100px;}
    60%{left:1400px; top: 750px;}
    70%{left:1600px; top: 100px;}
    80%{left:1520px; top: 750px;}
    
}